body {
    font-family: "Muli-Light", sans-serif;
    font-size: 18px;
}

h1,
h2,
h3,
h4 {
    font-family: "Muli-ExtraBold";
}

.fejlec-kep {
    background-image: url("kepek/okosothonhatter.jpg");
    height: 500px;
    background-size: cover;
    text-align: center;
    color: #e3f2fd;
    text-shadow: 10px 10px #5bc0de;
}

#haz-kep {
    max-width: 95%;
}

.display-4 {
    font-size: 54px;
}